
   #progress{
	background-color: orange;
	height: 4px;
	width: 1%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999; /* Peut être important si vous avez un menu en position fixe */
}

 