section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 85%;
  padding-bottom: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #bbb;
  background-color: #fff;
}

/*Formulaire contact*/

form {
  margin-top: 3%;
}


em {
  color : red;
   font-weight: bold;
}


label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}


input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: orange;
}


input[type=reset] {
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: orange;
}




/*Zoom icone réseau social*/
.zoom {
  margin-left: 19%;
}
.zoom img {
  height:70px;
  margin-left: 15%;
}
.zoom img:hover {
  height:90px;
}


/*Media queries*/

@media screen and (max-width : 431px){
  .form-style {
   width : 150px;
}

@media screen and (max-width : 550px){
  .form-style {
    width : 170px;
  }
}

@media only screen and (max-width: 1188px){
  .zoom img {
    margin-left: 1%;
  }
}

@media screen and (max-width: 560px){
  .zoom {
    text-align: center;
    font-size: medium;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .zoom img {
    width: 50px;
    height: 50px;
  }
}
